fastapi
uvicorn
gunicorn

# AI stack
langchain==1.2.6
langgraph==1.0.9
langchain-community
langchain-core

# LLM providers
openai
anthropic
groq
google-generativeai

# DB
supabase
pymongo

# utils
python-dotenv
requests
tiktoken

# optional (only if you REALLY use them)
streamlit
pyiceberg